
.hero-container-Consultation {
    background-image: url('../Images/Reservation\ hero\ mobile.png');
    background-size: cover;
    height: 700px;
    background-position: center;
    position: relative;
    display: flex;
    z-index: 1;
}


.book-Consultation {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 19px;
    line-height: 2;
   
}

.book-Consultation button {
    width: 350px;
    height: 50px;
    font-size: 19px;
    background-color: rgb(51, 173, 214);
    border: none;
    border-radius: 50px;
}

.book-Consultation button:hover {
    cursor: pointer;
    background-color: rgb(13, 136, 177);
}

#Consultation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 200px;
}



